Package: libcskk
Version: $VERSION
Section: text
Priority: optional
Architecture: amd64
Depends:
Maintainer: Naoaki Iwakiri <naokiri@gmail.com>
Description: Cobalt SKK library
 Library to deal with Japanese input method.
 SKK stands for 'Simple Kana to Kanji conversion'.